/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 21, 2016, 11:28:32 PM
    Author     : burak
*/
.ui-layout-pane-north .ui-layout-unit-content  {
    background-color: #557FFF;
    text-align: center;
    height:200px;
    color : #ffcccc;
    background-image:url('images/sepet.jpg');
 }
 
   .northUnit {
     height: 100px !important;
   }
   
.panelColumns td {
    vertical-align: top; 
} 